<div class="bookmarks-content">
    <app-nav class="my-nav"></app-nav>
    <div class="main">
        <div class="main-left">
            <app-side-menu></app-side-menu>
        </div>
        <div class="main-right">
            <div class="tweet-container" *ngFor="let x of testArray">
                <app-tweet-design></app-tweet-design>
            </div>
        </div>
    </div>
    <div class="footer" style="height: fit-content;color: gray ; background-color: #f1f1f1;width: 100%;text-align: center;padding-top: 100px;padding-bottom: 30px;font-weight: lighter;">
        Created by utkarsh060902@gmail.com  <span id="bullet-separator">&nbsp;&nbsp;&nbsp;&#2022;&nbsp;&nbsp;&nbsp;</span>devchallenges.io
      </div>
</div>
