<div class="container">
    <img src="https://picsum.photos/35/35" id="profile-dp">
    <div class="right">
        <div class="right-top">
            <div class="head">
                <span id="head-name">Waqar Bloom</span>
                <span id="head-timestamp">16 September at 17:43</span>
            </div>
            <div class="main">
                <p id="main-comment">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga similique illum sunt corporis tenetur nulla. Alias provident maiores earum aut numquam totam error nemo voluptates in. Labore laboriosam repudiandae aut.</p>
            </div>
        </div>
        <div class="right-bottom">
            <div class="like-div">
                <i style="font-size:16px;color: gray;" class="fa">&#xf087;</i>
                <span id="like-text">Like</span>
            </div>
            <span id="bullet-separator">&#2022;</span>
            <span id="like-text">12k Likes</span>
        </div>
    </div>
</div>
