<ul class="list-group sidebar-list my-container">
    <li class="list-group-item p-4 d-flex justify-content-between align-items-center" style="color: gray;">
      Top
    </li>
    <li class="list-group-item p-4 d-flex justify-content-between align-items-center" style="color: gray;">
      Latest
    </li>
    <li class="list-group-item p-4 d-flex justify-content-between align-items-center" style="color: gray;">
      People
    </li>
    <li class="list-group-item p-4 d-flex justify-content-between align-items-center" style="color: gray;">
        Media
      </li>
  </ul>