.main{
    width: 100%;
    height: fit-content;
    background-color: white;
}
.my-nav{
    background-color: white;
    padding: 0px;
    
}
#tweeter-logo{
    margin-left: 10px;
}
#tweeter-brand{
    margin-left: 3px;
    font-weight: bold;
}
.nav-list{
    display: flex;
    width: 100%;
    justify-content: center;
}
.my-nav-item{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.my-nav-item:hover{
    border: 1px solid white;
    background-color: rgb(246, 246, 246);
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    text-decoration: darkblue;
    color: black;
}
#profile-dp{
    border: 1px solid #1d9bf0;
    border-radius: 10px;
    background-color: #1d9bf0;
}
#profile-name{
    width: 10em;
    margin-left: 10px;
    font-size: larger;
    font-weight: bold;
}
